<section class="bg-slate-900 border border-solid border-slate-900 w-full py-7">
    <div class="container">
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center">
            <img src="{{ Image(22).src }}" class="mb-2 w-auto h-14 saturate-0 brightness-200 contrast-200" alt="">
            <p class="text-slate-100">© {{"now"|date('Y')}} Sanders & Associates</p>
        </div>
    </div>
</section>